@model Proyecto1_web.Models.Loggin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create_login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Proyecto1_web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="logginstyle.css">

</head>
<body>
<header>




</header>

<h4>Crear Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Identificación</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year_Age" class="control-label">Año de nacimiento</label>
                <input asp-for="Year_Age" class="form-control" />
                <span asp-validation-for="Year_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Teléfono</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label">Professión</label>
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Correo electrónico</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combo_Recom" class="control-label">Donde nos conoció</label>
                    <select asp-for="@Model.Combo_Recom" class="form-select" asp-items="@(new SelectList(ViewBag.Recom_list,"Combo_Recom","Combo_Recom"))"></select>
                <span asp-validation-for="Combo_Recom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login"style="color:black">Regresar</a>
</div>

</body>
</html>
